   @font-face {
     font-family: 'Oswald', sans-serif;
     font-family: 'Open Sans', sans-serif;
   }


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Oswald', sans-serif;
    min-height: 100%;
    position:relative;
    //font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

$page-color: #f9f5f0;
$page-text-color: #000;
$primary-color: #a9a9a9;
$darker-color: #6b7a8f;
$medium-color: #f7882f;
$mediuml-color: #f7c331;
$light-color: #526176;
$secondary-color: #caebf2;
$form-background-color: #dcc7aa;
$primary-button-color: #f7882f;
$primary-button-color-hover: #b30000;
$navbar-color: #f7c331;
$navbar-textcolor: #051429;
$navbar-hover-color: #526176;


  body {
    background-color: $page-color;
    color: $page-text-color!important;
  }

  .center {
    text-align: center;
  }

  .display_flex {
   display: flex !important;
  }

  .row {
   flex-direction: row !important;
  }

  .al_start {
   align-items: flex-start;
  }

  .jus_around {
   justify-content: space-around!important;
  }

  .w_100 {
    width: 100% !important;
  }

  .footer {
   text-align: center;
   color: $darker-color;
  }

  .navbar {
    background-color: $navbar-color;
    min-height: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    img {
      margin-top: 1px;
      max-height:  30px;
      width: auto;
    }

    a:link, a:visited, a:active{
     color: $navbar-textcolor;
    }

    a:hover {
     color: $navbar-hover-color;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-left: 20px;
      text-align: center;
    }
  }

  #contenido {
    justify-content: center;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;

    img, #img1 {
      width: 100%;
      // display: block;
    }
  }

  @media screen and (max-width: 320px) {
    #inicio, #problems, #leaderboards{
      display: none;
    }

    #contenido {
      #img1 {
        display: none;
      }
    }
  }

  #facebook-icon {
    margin: 5px;
    width: 5%;
  }


////// ASIDE
  aside {
  background-color: $form-background-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 400px;
  margin-right: 100px;
  margin: 10px;
  width: 250px;

  img {
    max-width: 100%;
    height: auto;
  }
  table {
    margin: 0 auto;
    text-align: center;
    border-color: black;
  }
  h2 {
    background-color: $medium-color;
    color: white;
    padding: 10px;
    text-align: center;
  }
  h2:hover
  {
    color: $darker-color;
  }
  a {
    text-decoration: none;
  }
  a:link, a:visited, a:active{
   color: white;
  }
  a:hover {
   color: $darker-color;
  }
}

aside div {
  margin: 5px;
  border-width:1px;
  border-color: white;
}

///// FIELDSET
fieldset {
  border-color: transparent;
  border-radius: 10px;
  margin: auto;
  img {
    max-width: 100%;
    height: auto;
  }
}



.abajo {
  margin: 4%;
}

footer {
  background-color: $darker-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: $medium-color;
  img {
    max-width: 40px;
    height: auto;
  }
}
