
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

$page-color: #f9f5f0;
$page-text-color: #000;
$primary-color: #a9a9a9;
$secondary-color: #caebf2;
$form-background-color: #dcc7aa;
$primary-button-color: #f7882f;
$primary-button-color-hover: #b30000;
$navbar-color: #f7c331;
$navbar-textcolor: #051429;
$navbar-hover-color: #526176;

  body {
    background-color: $page-color;
    color: $page-text-color;
    main {
      padding: 2%;
    }
  }

  .center {
    text-align: center;
  }

  .display_flex {
   display: flex !important;
  }

  .row {
   flex-direction: row !important;
  }

  .al_start {
   align-items: flex-start;
  }

  .jus_around {
   justify-content: space-around!important;
  }

  .w_100 {
    width: 100% !important;
  }

  .footer {
   text-align: center;
   color: black;
  }

  .navbar {
    background-color: $navbar-color;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Arial;

    img {
      margin-top: 5px;
    }

    a:link, a:visited, a:active{
     color: $navbar-textcolor;
    }

    a:hover {
     color: $navbar-hover-color;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-left: 20px;
      text-align: center;
    }
  }

  #slogan_container {
    img {
      width: 50px;
    }
  }

  #contenido {
    justify-content: center;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;

    img, #img1 {
      margin: 50px auto;
      width: 100%;
      // display: block;
    }
  }

  @media screen and (max-width: 320px) {
    #inicio, #problems, #leaderboards{
      display: none;
    }

    #contenido {
      #img1 {
        display: none;
      }
    }
  }

  #facebook-icon {
    margin: 5px;
    width: 5%;
  }
