//
//      Variables
//


// Page style
$page-color: #f9f5f0;
$page-text-color: #000;

// Main color palette
$primary-color: #a9a9a9;
$secondary-color: #caebf2;

// Color shades
$darker-color: #6b7a8f;
$medium-color: #f7882f;
$mediuml-color: #f7c331;
$light-color: #526176;

// Form style
$form-background-color: #dcc7aa;

// Button style
$primary-button-color: #f7882f;
$primary-button-color-hover: #b30000;

// Navbar style
$navbar-color: #f7c331;
$navbar-textcolor: #051429;
$navbar-hover-color: #526176;
$shadow-color: rgba(0,0,0,0.2);
