//
//      Flexbox
//

.center {
  text-align: center;
}

.display_flex {
 display: flex !important;
}

.row {
 flex-direction: row !important;
}

.al_start {
 align-items: flex-start;
}

.jus_around {
 justify-content: space-around!important;
}

.w_100 {
  width: 100% !important;
}
